.home {
  width: 100%;
}

.heroSection {
  background-color: oklch(0.97 0.01 85);
  padding: 100px 20px;
  text-align: center;
}

.heroSection h1 {
  font-size: 50px;
  color: rgb(23, 11, 11);
  margin-bottom: 20px;
  font-family: 'Lobster', serif;
}

.heroSection p {
  font-size: 18px;
  margin-bottom: 30px;
  color: rgb(122, 81, 81);
}

.shopButton {
  background-color: #0c6634;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 7px;
  font-family: 'Lobster', serif;
}

.shopButton:hover {
  background-color: #0b532c;
}

.featuredSection {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.featuredSection h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 60px;
  color: #07150d;
  font-family: 'Lobster', serif;
}

.bookGrid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
}

.bookCard {
  border: 1px solid #ddd;
  padding: 40px;
  text-align: center;
  border-radius: 9px;
  background-color: oklch(0.97 0.01 85);
  margin-bottom: 30px;
}

.bookCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.bookCard h3 {
  font-size: 17px;
  margin-bottom: 5px;
  color: #090e13;
  font-family: 'Lobster', serif;
}

.bookCard .author {
  color: #7f8c8d;
  margin-bottom: 20px;
  font-family: 'Lobster', serif;
}

.bookCard .price {
  font-size: 22px;
  font-weight:bold;
  color: #181515;
  margin-bottom: 10px;
}

.detailsButton {
  background-color: #0c6634;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
}

.detailsButton:hover {
  background-color: #0b532c;
}

@media only screen and (max-width: 768px) {
  .heroSection h1 {
    font-size: 50px;
  }

  .heroSection p {
    font-size: 18px;
  }

  .bookGrid {
    grid-auto-flow: unset;
    gap: 40px;
    
  }
}
