.logo {
    font-family: 'Lobster', serif;
    font-size: 28px;

}
.navbar {
  width: 100%;
  height: 80px;
  background-color:transparent;
  display: flex;
  flex-direction: row;
  
}

.navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.navbar .leftSide .logo {
  color: #0b0606;
  font-size: 28px;
  font-weight: bold;
}

.navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  
}

.navbar a {
  color:black;
  text-decoration: none;
  margin: 15px;
  font-size: 18px;
}

.navbar a:hover {
  color: #e74c3c;
}

.navbar .rightSide button {
  display: none;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 28px;
}

.navbar .leftSide .hiddenLinks {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide button {
    display: flex;
  }

  .navbar .leftSide .hiddenLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    background-color: oklch(0.97 0.01 85);
    padding: 20px;
  }

  .navbar .leftSide .hiddenLinks a {
    margin: 10px 0;
  }

  .navbar #close .hiddenLinks {
    display: none;
  }

  .navbar #open .hiddenLinks {
    display: flex;
  }
}
